@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto' , 'Noto Nastaliq Urdu'  , 'Tiro Devanagari Hindi' , sans-serif;
}


/* CSS for custom scrollbar */

.sbar::-webkit-scrollbar {
  width: 6px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make scrollbar track invisible */
}

::-webkit-scrollbar-thumb {
  background-color: #7C7F81; /* Color of the thumb */

}


